.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.see-all-div {
    padding: 2rem;
}

@media screen and (max-width : 576px) {
    .feature-container {
        grid-template-columns: repeat(1, 1fr);
    }
}