.logo {
    font-weight: 800;
    font-size: 30px;
    color: #1A1919;
}

.nav-mid .a {
    padding: 0.5rem;
    font-size: 18;
}

/* @media screen and (max-width : 576px) {
    .flex.light-bg.nav {
        df
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex.light-bg.nav {}
} */