.logo {
    font-weight: 800;
    font-size: 30px;
    color: #1A1919;
}

.nav-links .a {
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 900;
}

@media screen and (max-width : 576px) {
    .flex.light-bg.nav {
        display: flex !important;
    }

    .flex.light-bg.nav .nav-links {
        display: none;
    }
}