.pb-0 {
    padding-bottom: 0;
}

article,
aside {
    flex-basis: 50%;
}

article h1 {
    font-weight: 800;
    font-size: 70px;
    color: #1A1919;
}

article h1 span {
    color: #6170cf;
}

@media screen and (max-width : 576px) {
    .container.flex.light-bg {
        display: block;
    }

    article {
        padding-bottom: 1rem;
    }

    article h1 {
        font-weight: 800;
        font-size: 50px;
        color: #1A1919;
    }
}